<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
      <title>Exoplanets Lessons</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="../static/images/logow.png" width="100" height="50" alt="Space Logo" />
          lesson three
        </a>

      </div>
    </nav>
    <div class="container">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/mainelementry">Home</a></li>
          <li class="breadcrumb-item"><a href="/lessons">Lessons</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lesson 3</li>
        </ol>
        </nav>
        </div>
       </div>
      <div class="row">
        <div class="col">
          <h1>Exoplanets 101 </h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe 
              class="embed-responsive-item"
              src="https://www.youtube.com/embed/EUU0-ZpFoK4" 
              frameborder="0" 
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Overview</h2>
          <p>Exoplanets 101 </p>
          <p>In this lesson, you'll learn about:</p>
          <ul>
            <li>Introduces exoplanets and the various methods scientists use to discover them, like the transit method.</li>
            <li>Discusses the different types of exoplanets, including gas giants and rocky planets.</li>
            <li>Emphasizes the search for Earth-like exoplanets that could support life</li>
          </ul>
        </div>
      </div>



      

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>