<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Tue Jun 06 2017 16:10:22 GMT+0000 (UTC)  -->
<html data-wf-page="593329b4bfc2fb644ac0d811" data-wf-site="593329b4bfc2fb644ac0d810">
<head>
  <meta charset="utf-8">
  <title> Main </title>
  <link href="static/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="static/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="static/css/nasa-site.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript">
    WebFont.load({
      google: {
        families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"]
      }
    });
  </script>
  <script src="https://use.typekit.net/cnh3mnl.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="static/js/modernizr.js" type="text/javascript"></script>
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="nav w-nav" data-animation="default" data-collapse="small" data-duration="400">
    <div class="w-container">
      <nav class="nav-menu w-nav-menu" role="navigation"><a class="nav-link w-nav-link" href="#home">Home</a><a class="nav-link w-nav-link" href="#explore">Explore</a> <a class="nav-link w-nav-link" href="#interact">Interact</a> <a class="nav-link w-nav-link" href="#game">Games &amp; Quizzes</a><a class="nav-link w-nav-link" href="#nasa">NASA Search</a><a class="nav-link w-nav-link" href="#chat">Chat</a> <a class="nav-link w-nav-link" href="#community">Community</a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
      </a>
    </div>
  </div>

  <div class="hero-section" id="home">
    <div class="centered-element"><img data-ix="fadein" sizes="(max-width: 479px) 92vw, 300px" src="static/images/astronaut-floating.png" srcset="static/images/astronaut-floating-p-500.png 500w, static/images/astronaut-floating.png 600w" width="300">
      <div class="nasa-heading">
        <h1 class="heading" data-ix="fadein-2">STELLARIS</h1>
        <div class="text-block" data-ix="fadein-2">  <span class="text-span"> Beyond our solar system</span>.</div>
      </div>
    </div>
    <div class="icon-container">
      <img src="static/images/logow.png" alt="Small Icon">
  </div>  
    <div class="container w-container">

          <p class="paragraph" data-ix="fade-in-on-scroll"><br><span class="text-span"> Hey Stellar Seeker!</span><br> Welcome to our awesome exoplanet adventure! 🌌<br> Have you ever wondered if there are planets outside our solar system, orbiting distant stars?<br> Well, you're in the right place! Here, you'll learn all about exoplanets—planets.<br>

            On STELLARIS, you'll get to explore amazing planets that could have oceans, clouds, and maybe even alien life!<br> You can check out 3D maps, compare different exoplanets, and learn how scientists use telescopes to find these distant worlds. 🌍✨<br>
            
            We’ve made everything interactive and fun, so feel free to click around and start your space journey.<br> There’s a whole universe out there waiting for you to explore! 
            <br>Ready to dive in? Let’s go!

    </div>


  
  
  
  <div class="cards" id="explore">
    <div class="card card1">
        <a href="/exoplanet_page" style="text-decoration: none; color: inherit;">
            <div class="container">
                <img src="static/images/exo.png" alt="space1">
            </div>
            <div class="details">
                <h3>Exoplanet Exploration</h3>
                <p>Explore the incredible diversity of exoplanets beyond our solar system. From gas giants to rocky worlds, this section will take you on a journey to understand distant planets. Learn about the cutting-edge missions like Kepler, TESS, and James Webb, and the techniques used to discover exoplanets, such as the transit and radial velocity methods. Dive into interactive 3D models and simulations that bring these alien worlds to life.</p>
            </div>
        </a>
    </div>

    <div class="card card1">
        <a href="/systems" style="text-decoration: none; color: inherit;">
            <div class="container">
                <img src="static/images/star.png" alt="space1">
            </div>
            <div class="details">
                <h3>Exoplanetary Systems</h3>
                <p>Explore the arrangement of planets around stars in other systems. This section dives into the diverse configurations of planetary systems beyond our solar system, from single-planet systems to tightly packed multi-planet systems. Learn how missions like Gaia and techniques like astrometry help map these systems. Compare famous systems like TRAPPIST-1 and Kepler-90 to our own solar system using interactive 3D tools.</p>
            </div>
        </a>
    </div>

    <div class="card card1">
        <a href="/habitability" style="text-decoration: none; color: inherit;">
            <div class="container">
                <img src="static/images/ha.png" alt="space1">
            </div>
            <div class="details">
                <h3>Alien Worlds: Atmospheres and Habitability</h3>
                <p>What makes a planet habitable? In this section, explore the atmospheric conditions and potential for life on exoplanets. Discover how scientists use spectroscopy to analyze atmospheres and how missions like Hubble and James Webb search for life-sustaining conditions. Use 3D simulations to examine planets in the habitable zone and assess their potential for hosting life.</p>
            </div>
        </a>
    </div>
</div>

<div class="cards" id="interact">
    <div class="card card1">
        <a href="/3Dmid" style="text-decoration: none; color: inherit;">
            <div class="container">
                <img src="static/images/sim.png" alt="space1">
            </div>
            <div class="details">
                <h3>3D Simulations</h3>
                <p>Explore interactive 3D simulations of exoplanets and their planetary systems. Users can manipulate features like rotation and orbit, gaining insights into the unique characteristics of each world. Enhanced with real scientific data, these simulations bridge theoretical concepts with immersive learning, making complex astronomy accessible and engaging.</p>
            </div>
        </a>
    </div>

    <div class="card card1">
        <a href="/lessonmid" style="text-decoration: none; color: inherit;">
            <div class="container">
                <img src="static/images/vid.png" alt="space1">
            </div>
            <div class="details">
                <h3>Educational Lessons</h3>
                <p>Our educational videos provide a comprehensive look at exoplanets and the science of their exploration. From documentaries on missions like Kepler and TESS to discussions on discovery techniques, these videos inform and inspire. Captivating visuals and expert insights help build a strong foundation of knowledge about the wonders of the universe.</p>
            </div>
        </a>
    </div>

    <div class="card card1">
        <a href="/vr" style="text-decoration: none; color: inherit;">
            <div class="container">
                <img src="static/images/3.png" alt="space1">
            </div>
            <div class="details">
                <h3>Virtual Reality Videos</h3>
                <p>Immerse yourself in the universe with our virtual reality (VR) videos that simulate journeys to various exoplanets. Experience breathtaking visuals and realistic environments while learning about the conditions and features of these distant worlds. Each video includes commentary on the missions and technologies behind these explorations, bringing space travel to life.</p>
            </div>
        </a>
    </div>
</div>

<div class="cards" id="game">
    <a href="/game" style="text-decoration: none; color: inherit;">

    <div class="card card1">
        <div class="container">
            <img src="static/images/puz.png" alt="space1">
        </div>
        <div class="details">
            <h3>Games</h3>
            <p>Engage with our interactive games designed to make learning about exoplanets fun and immersive. These games allow users to simulate space missions, solve puzzles related to planetary features, and compete in challenges that test their knowledge of astronomy. Players will develop critical thinking and problem-solving skills while exploring the universe in a playful way.</p>
        </div>
    </div>

    <div class="card card1">
        <a href="/quize" style="text-decoration: none; color: inherit;">

        <div class="container">
            <img src="static/images/qu.png" alt="space1">
        </div>
        <div class="details">
            <h3>Quizzes</h3>
            <p>Test your knowledge of exoplanets and space exploration with our quizzes. Featuring multiple-choice and true/false questions, these quizzes assess what you've learned and offer explanations for each answer. Perfect for all ages, they encourage users to explore further and deepen their understanding of the universe, making learning both engaging and informative.</p>
        </div>
    </div>
</div>

<div class="cards" id="nasa">
    <div class="card card1">
        <a href="/nasasearch" style="text-decoration: none; color: inherit;">
            <div class="container">
                <img src="static/images/s.png" alt="space1">
            </div>
            <div class="details">
                <h3>Search NASA Media</h3>
                <p>Unleash your curiosity with our powerful search tool, allowing you to browse through NASA's extensive collection of photos and videos. You can easily locate specific content by entering keywords related to your interests—be it historical missions, celestial phenomena, or groundbreaking discoveries. With a wealth of media at your fingertips, you can find the images and videos that resonate most with your passion for space exploration.</p>
            </div>
        </a>
    </div>
    <!-- Repeat the card structure for the other cards -->
</div>

<div class="cards" id="visualize">
    <div class="card card1">
        <a href="/visualize" style="text-decoration: none; color: inherit;">
            <div class="container">
                <img src="static/images/dash.png" alt="space1">
            </div>
            <div class="details">
                <h3>Exoplanet Data Visualizations</h3>
                <p>Discover the wonders of exoplanets through interactive visualizations. Compare planet sizes, masses, orbits, and distances from Earth using dynamic charts powered by D3.js and Three.js. Dive into the latest exoplanetary data, explore trends, and gain insights into the search for potentially habitable worlds. Perfect for students and space enthusiasts alike!</p>
            </div>
        </a>
    </div>
    <!-- Repeat the card structure for the other cards -->
</div>


<div class="cards" id="chat">
    <div class="card card1">
    <a href="//exobot" style="text-decoration: none; color: inherit;">
        <div class="container">
            <img src="static/images/exobot.png" alt="space1">
        </div>
        <div class="details">
            <h3>Exobot</h3>
            <p>Meet Exobot, your friendly guide to the universe! Designed to engage and educate, Exobot is an interactive chatbot that helps users explore the fascinating world of exoplanets and space science. Whether you're curious about the characteristics of distant planets, the latest space missions, or fun facts about the universe, Exobot is here to provide accurate information in an accessible and engaging manner. With a personality that’s both informative and friendly, Exobot makes learning about astronomy a delightful experience for all ages. Get ready to embark on your cosmic journey with Exobot as your companion!</p>
        </div>
    </div>
    <!-- Repeat the card structure for the other cards -->
</div>

<div class="cards" id="community">
    <a href="https://ourcommunity.runasp.net/" style="text-decoration: none; color: inherit;">
        <div class="card card1">
            <div class="container">
                <img src="static/images/community.png" alt="space1" />
            </div>
            <div class="details">
                <h3>Community</h3>
                <p>Welcome to the Community section, a vibrant hub for space enthusiasts to share their passion for exoplanets! Here, you can upload and showcase your photos and videos, connect with fellow explorers through comments and discussions, and participate in exciting challenges and events. Join us to inspire and be inspired as you delve into the captivating world of exoplanetary discoveries!</p>
            </div>
        </div>
    </a>
</div>

<footer class="footer">
    <img class="nasa-logo" src="static/images/logo.png" width="182">
    <div class="div-block-3">
        <a class="footer-link" href="#">About Us</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
    <script src="static/js/webflow.js" type="text/javascript"></script>
</footer>
</body>
</html>
